block content
  div
    h3 The current season is
    hr
    br
    if data.farm.weather[1].season == 'Autumn'
       img(src='images/seasons/autumn.png')
    else if data.farm.weather[1].season == 'Spring'
       img(src='images/seasons/spring.png')
    else if data.farm.weather[1].season == 'Winter'
       img(src='images/seasons/winter.png')
    else if data.farm.weather[1].season == 'Summer'
       img(src='images/seasons/summer.png')
