block content
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link.active(href='#' id='Field' onClick="Test();") Test
			li.nav-item
				a.nav-link(href='#' id='Soil' onClick="Soil();") Soil
			li.nav-item
				a.nav-link(href='#') Link
			li.nav-item
				a.nav-link.disabled(href='#') Disabled
		h1 field
		p #{JSON.stringify(data)}