extends layout

block content
  doctype html
  html(lang='en')
    include layout.pug
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      style.
        html 					{ overflow-y:scroll; }
        body 					{ padding-top:50px; }
        #todo-list 				{ margin-bottom:30px; }
        #todo-form 	 			{ margin-bottom:50px; }
      // wrld3d
      script(src='https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js')
      link(href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css', rel='stylesheet')
      script(src="https://cdn-webgl.wrld3d.com/wrldjs/addons/poi_api/latest/poi_api.js")
    body(ng-controller='mainController')
      // Navigation
      nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container
          a.navbar-brand(href='index.html')
          img(src='/images/logo.png', alt='logo')
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            
      div(id="map" style="height: 800px")

      script.
        var map = L.Wrld.map("map", "534aba75bfd7016e2593d59b9f8845df", {
        center: [56.4981776, -3.0744827],
        zoom: 16
        }); 
        setTimeout(function() {
        map.setView([56.4981776, -3.0744827], 17, {
        animate: false
        });
        }, 5000);
        var marker = L.marker([56.4981776, -3.0744827], {
        elevation: 0,
        title: "Farm"
        }).addTo(map);
        marker.bindPopup("This is a farm").openPopup();
    
      // Page Content
      .container
        .container
          h1 Test Changed
        h1.my-4 Welcome to Modern Business
        // Marketing Icons Section
        .row
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Card Title
              .card-body
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
              .card-footer
                a.btn.btn-primary(href='#') Learn More
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Card Title
              .card-body
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
              .card-footer
                a.btn.btn-primary(href='#') Learn More
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Card Title
              .card-body
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
              .card-footer
                a.btn.btn-primary(href='#') Learn More
