extends layout

block content
  doctype html
  html(lang='en')
    include layout.pug
    // ASSIGN OUR ANGULAR MODULE
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      title Node/Angular Todo App
      // SCROLLS
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
      // load bootstrap
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
      style.
        html 					{ overflow-y:scroll; }
        body 					{ padding-top:50px; }
        #todo-list 				{ margin-bottom:30px; }
        #todo-form 	 			{ margin-bottom:50px; }
      // SPELLS
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
      // load angular
      // Bootstrap core CSS
      link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
      // Custom styles for this template
      link(href='../stylesheets/stylesheet.css', rel='stylesheet')
      // wrld3d
      script(src='https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js')
      link(href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css', rel='stylesheet')
    body(ng-controller='mainController')
      // Navigation
      nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container
          a.navbar-brand(href='index.html') Farming
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
    
      // Page Content
      .container
        .container
          h1 Test Changed
        h1.my-4 Welcome to Modern Business
        // Marketing Icons Section
        .row
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Card Title
              .card-body
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
              .card-footer
                a.btn.btn-primary(href='#') Learn More
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Card Title
              .card-body
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
              .card-footer
                a.btn.btn-primary(href='#') Learn More
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Card Title
              .card-body
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
              .card-footer
                a.btn.btn-primary(href='#') Learn More
        // /.row
        // Footer
        footer.py-5.bg-dark
          .container
            p.m-0.text-center.text-white Copyright © Your Website 2018
          // /.container
          // Bootstrap core JavaScript
          script(src='vendor/jquery/jquery.min.js')
          script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
