doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  body
    block content
