block content
	ul.nav.nav-tabs
		li.nav-item
			a.nav-link(href='/test') Test
		li.nav-item
			a.nav-link.active(href='#') Soil
		li.nav-item
			a.nav-link(href='#') Link
		li.nav-item
			a.nav-link.disabled(href='#') Disabled