block content
	div(id='moisture' data-bind=data.field.moistureLevel style='display:none')
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link(href='#' id='Crop' data-bind=data.field.farmFieldID onClick="Crop();") Crop
			li.nav-item
				a.nav-link.active(href='#' id='Soil' onClick="Soil();") Soil
			li.nav-item
				a.nav-link(href='#' id='Summary' onClick="Summary();") Summary
			li.nav-item
				a.nav-link(href='#') Link
			li.nav-item
				a.nav-link.disabled(href='#') Disabled
		div(id='id' data-bind=data.field.farmFieldID style='display:none')
		img(src="/images/ph/ph"+data.field.phLevel+".png")
		#chart_div(style='width: 400px; height: 160px;')
	script(src="/javascript/gauge.js")