block content
	div(id='moisture' data-bind=data.field.moistureLevel style='display:none')
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link(href='#' id='Crop' data-bind=data.field.farmFieldID onClick="Crop();") Crop
			li.nav-item
				a.nav-link.active(href='#' id='Soil' onClick="Soil();") Soil
		div(id='id' data-bind=data.field.farmFieldID style='display:none')
		.container
			div(class='phstyle')
				img(src='/images/headings/phlevel.png' class="phHeading")
				img(src="/images/ph/ph"+data.field.phLevel+".png" style="height: 140px; width:140px;", class="phLevel")
			hr(style="margin-top: 20px;")
			p(class="soiltitle") Soil Moisture
			hr(style="margin-top: 50px;")
			#chart_div(style='width: 400px; height: 180px; padding-top: 40px; padding-left:50px;')
			div(style="clear:both;")
		script(src="/javascript/gauge.js")
		div(style="height:50px;")
	style
		include ../public/stylesheets/stylesheet.css
