block content
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link(href='#' id='Test' onClick="Test();") Test
			li.nav-item
				a.nav-link(href='#' id='Soil' onClick="Soil(this);") Soil
			li.nav-item
				a.nav-link.active(href='#' id='Summary' onClick="Summary();") Summary
			li.nav-item
				a.nav-link(href='#') Link
			p #{JSON.stringify(data)}
			//each item in data
			//	tr
			//	td FarmID: #{JSON.stringify(data.farmID)}
			//	br
			//	td todays date: #{data.Name}
			//	br