block content
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link(href='#' id='Farm' onClick="Weather();") Weather Summary
			li.nav-item
				a.nav-link.active(href='#' id='Summary' onClick="Summary();") Crop Summary
			li.nav-item
				a.nav-link(href='#' id='weatherAnalysis' onClick="WeatherAnalysis();") Weather Analysis
			li.nav-item
				a.nav-link(href='#' id='cropAnalysis' onClick="CropAnalysis();") Crop Analysis
		div(id='id' data-bind=data.farmID style='display:none')
		br
		br
		.container
			.row
				.col-sm-4
					img(src='/images/headings/cropname.png')
				.col-sm-4
					img(src='/images/headings/expectedharvestdate.png')
			hr
			each val in data.farm.crops
				.row
					.col-sm-4
						if val.cropName == 'Potatoes'
							img(src='/images/crops/potatoes2.png' class= 'imlabel')
						else if val.cropName == 'Corn'
							img(src='/images/crops/corn2.png' class= 'imlabel')
						else if val.cropName == 'Strawberries'
							img(src='images/crops/strawberries2.png' class= 'altlabel')
					.col-sm-8(style="padding-left: 80px")
						-var p = JSON.stringify(data.farm.crops[0].expectedHarvestDate)
						-var dt = p.split("T")
						-var d = dt[0].split("-")
						-var date = d[0].split('\"')
						-var m = d[1]
						-var months = ['January', 'February', 'March', 'April', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
						time.icon(datetime='JSON.stringify(val.expectedHarvestDate')
							em #{months[parseInt(d[1])]}
							strong #{date[1]}
							span #{d[2]}
	style
		include ../public/stylesheets/stylesheet.css
