block content
	ul.nav.nav-tabs()
		li.nav-item
			a.nav-link.active(href='#' id='Test' onClick="Test();") Active
		li.nav-item
			a.nav-link(href='#' id='Soil' onClick="Soil(this);") Soil
		li.nav-item
			a.nav-link(href='#') Link
		li.nav-item
			a.nav-link.disabled(href='#') Disabled

